.greenw02 {background-color:rgb(31 120 50/0.3)}
.greenw04{background-color:rgb(31 120 50/0.2)}
.orangew02{background-color:rgb(255 165 0/0.3)}
.orangew04{background-color:rgb(255 165 0/0.2)}
.red02{background-color:rgb(248 46 48/0.3)}
.red04{background-color:rgb(248 46 48/0.2)}

.grey {background-color: rgba(128,128,128,.17)}

.wp-block-quote {
	border-left: 0.25em solid currentColor;
	margin: 0 0 1.75em 0;
	padding-left: 1em;
}

.adminli {
	list-style-type: disc;
	margin-left: 1.5em;
}

.center-text {
	text-align: center;
}

.width85 {
	width: 85px;
}
.width280 {
	width: 280px;
}
.width450 {
	width: 450px;
}
.maxwidth1000 {
	max-width: 1000px;
}

#click {
	cursor: pointer;
}
table > thead > tr > th[data-sort=asc] {
	background-color: #dcdcde;
}
table > thead > tr > th[data-sort=desc] {
	background-color: #dcdcde;
}

.adminhrule {
	height: 1.5px;
	background-color: #c3c4c7;
}
